include README.md DEPENDENCIES.md LICENSE NOTICE environment.yml
recursive-include src *.py *.sh *.json
recursive-include tools *.py
recursive-include docs *.md
recursive-include examples/tiny *
recursive-include tests *.py *.sh
recursive-include assets *.png
recursive-include resources *.md *.tsv *.txt *.json
include resources/DATA_LICENSE
global-exclude __pycache__ *.py[cod]
